/* Vars */
:root {
  --grey: #887f78;
  --light-grey: #d0c4be;
  --main-color: #e7ba9d;
  --light-carnation: #efe2d9;
  /* Там встречались еще цвета, но они либо не повторялись, 
  либо настолько похожие, что я хз как названия давать */
}
